{% extends 'base.html' %}
{% load static %}
{% load recipe_filter %}
{% block content %}
    <!-- ============================================================== -->
    <!-- basic form  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="section-block" id="basicform">
                <h3 class="section-title">Create a Recipe</h3>
                <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
            </div>
            <div class="card">
                <h5 class="card-header">New Recipe</h5>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field, obj in form.fields.items %}
                            <div class="form-group">
                                {% if obj.widget.input_type == "text"  %}
                                    <label for="{{ field }}" class="col-form-label">{{ field }}</label>
                                    <!-- required? -->
                                    <textarea required="" class="form-control" name="{{ field }}"></textarea>
                                {% elif field == "ingredients" %}
                                    <input id="{{ field }}" type="{{ obj.widget.input_type }}" class="form-control" name="{{ field }}" hidden>
                                {% else  %}
                                    <label for="{{ field }}" class="col-form-label">{{ field }}</label>
                                    <input id="{{ field }}" type="{{ obj.widget.input_type }}" class="form-control" name="{{ field }}">
                            <!--<div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="float-xl-right float-none mt-xl-0 mt-4">
                                    <a href="#" class="btn-wishlist m-r-10"><i class="far fa-star"></i></a>
                                </div>
                            </div>-->
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!--<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 co-12">-->
                            <section class="card card-fluid">
                                <h5 class="card-header drag-handle"> Ingredients List </h5>
                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="ingredient-items">
                                </ul>
                            </section>
                        <!--</div>-->
                        <!--<form>-->
                    <!--<div class="product-size border-bottom">
                        <div class="row">
                            <div class="product-content">
                        <div class="btn-group" role="group" aria-label="First group">
                            <input type="text" size="30" onkeyup="searchFoodItem(this.value)">
                        </div>
                        <h4>Add</h4>
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-light">Add</button>
                        </div>
                        <div class="product-qty">
                            <h4>Quantity</h4>
                            <div class="quantity">
                                <input type="number" min="1" max="9" step="1" value="1">
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>-->
                        <div class="card-body border-top">
                            <!--<h5 class="card-title">Live search</h5>
                            <select class="selectpicker" data-live-search="true">
                                <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
                                <option data-tokens="mustard">Burger, Shake and a Smile</option>
                                <option data-tokens="frosting">Sugar, Spice and all things nice</option>
                            </select>-->
                            <!--<div class="btn-group" role="group" aria-label="First group">
                                <input type="text" size="30" onkeyup="searchFoodItem(this.value)">
                                <div id="livesearch"></div>
                            </div>-->
                            <h5 class="card-title">Add an ingredient:</h5>
                            <div id="div-ingredient">
                                <select id="livesearch-ingredient" class="selectpicker" data-live-search="true">
                                </select>
                            </div>
                            <!--<h5 class="card-title">Pick a unit:</h5>
                            <div id="div-unit">
                            <select id="livesearch-unit" class="selectpicker">
                            </select>
                            </div>-->
                            <div id="div-unit">
                                <select id="livesearch-unit" class="selectpicker">
                                </select>
                                <!--<input type="number" min="0" max="9" step="1" value="0" onclick="addAmount(this.value)">-->
                            </div>
                            <div class="btn-group product-size">
                                <div id="div-unit" class="quantity">
                                    <input type="number" min="0" max="9999" step="1" value="0" onclick="addAmount(this.value)">
                                </div>
                            </div>
                            <div class="btn-group product-qty">
                                <div class="quantity">
                                    <button type="button" class="btn" onclick="addIngredient()">+</button>
                                    <!--<a href="#" role="button"><i class="fas fa-fw fa-th" onclick="addIngredient()"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <!--</form>-->
                        <!--<div class="form-group">
                            <label for="textfield">Text field</label>
                            <br>
                            <input type="text" id="textfield" class="form-control demo" value="#70c24a">
                        </div>-->
                        <!--<div class="form-group pt-2">
                            <button class="btn btn-block btn-primary" type="submit">Submit</button>
                        </div>-->
                        <div class="form-group row text-right">
                            <!--<div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">-->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <button type="submit" class="btn btn-space btn-primary">Submit</button>
                            </div>
                        </div>
                        <!--<button class="btn btn-space btn-secondary">Cancel</button>-->
                        <!--<div class="form-group">
                            <label for="inputText3" class="col-form-label">Input Text</label>
                            <input id="inputText3" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email address</label>
                            <input id="inputEmail" type="email" placeholder="name@example.com" class="form-control">
                            <p>We'll never share your email with anyone else.</p>
                        </div>
                        <div class="form-group">
                            <label for="inputText4" class="col-form-label">Number Input</label>
                            <input id="inputText4" type="number" class="form-control" placeholder="Numbers">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input id="inputPassword" type="password" placeholder="Password" class="form-control">
                        </div>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">File Input</label>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>-->
                    </form>
                </div>
                <!--<div class="card-body border-top">
                    <h3>Sizing</h3>
                    <form>
                        <div class="form-group">
                            <label for="inputSmall" class="col-form-label">Small</label>
                            <input id="inputSmall" type="text" value=".form-control-sm" class="form-control form-control-sm">
                        </div>
                        <div class="form-group">
                            <label for="inputDefault" class="col-form-label">Default</label>
                            <input id="inputDefault" type="text" value="Default input" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="inputLarge" class="col-form-label">Large</label>
                            <input id="inputLarge" type="text" value=".form-control-lg" class="form-control form-control-lg">
                        </div>
                    </form>
                </div>-->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic form  -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script>
/*
    $(document).on('keyup', '.bs-searchbox input', function (e) {
    var searchData = e.target.value;
    console.log(searchData);

    //You can write the ajax code here
});*/

    var chosenIngredient = {id:null, name:null, unit:null, amount:0};
    //var chosenAmount = 0;

    /*$('.selectpicker').on('change', function(){
        console.log("ha");
    var selected = []
    selected = $('.selectpicker').val()
    console.log(selected); //Get the multiple values selected in an array
    console.log(selected.length); //Length of the array
});
        */
/*
$( ".selectpicker" ).bind( "keyup", function() {
  console.log( "User clicked on 'foo.'" );
});*/
    /*$('.bs-searchbox').bind('keyup', function(){
        console.log("hah");
    });*/

    //$('#livesearch').selectpicker('refresh');
    $('#div-ingredient').on('keyup', function () {
        $("#livesearch-ingredient").empty();
        str = $('.bs-searchbox .form-control').val();
        //console.log("str: ", str);
        if (str.length>0) {
            $.ajax({
                url: "https://api.nal.usda.gov/fdc/v1/foods/search",
                type: "get",
                data: "api_key=uHpZNeQkPBjLCcnybhVSTcdzjXt6wgNohqA7gRQu&dataType=Foundation&query="+str,
                success: function(response) {
                    //var json = $.parseJSON(response);
                    //var options=json["foods"][0];
                    for(i = 0; i < response["foods"].length; i ++){
                        //chosenIngredient["id"] = response["foods"][i]["fdcId"];
                        //chosenIngredient["name"] = response["foods"][i]["description"];
                        //console.log(chosenIngredient["id"]);
                        //console.log(chosenIngredient["name"]);
                        $('#livesearch-ingredient').append($('<option>', {
                            //value: chosenIngredient["id"],
                            //text: chosenIngredient["name"]
                            value: response["foods"][i]["fdcId"],
                            text: response["foods"][i]["description"]
                        }));
                        //$('#livesearch-ingredient').selectpicker('refresh');
                    }
                    $('#livesearch-ingredient').selectpicker('refresh');
                    $('#livesearch-unit').selectpicker('refresh');
                },
                error: function(response) {
                    //chosenIngredient = null;
                    $("#livesearch-ingredient").replaceWith("Error: "+response);
                },
            });
        }

        /*
        $('#livesearch').append($('<option>', {
            value: 'any value',
            text: 'any text'
        }));
        $('#livesearch').selectpicker('refresh');*/
    });

    //$('#div-ingredient .dropdown.bootstrap-select.dropup .btn.dropdown-toggle.btn-light .filter .filter-option-inner').on('click', function () {
    $('#div-ingredient').on('change', function () {
        //chosenIngredient["id"] = $('#div-ingredient').val();
        //chosenIngredient["name"] = $('#div-ingredient').text();s
        chosenIngredient["id"] = $('#livesearch-ingredient :selected').val();
        chosenIngredient["name"] = $('#livesearch-ingredient :selected').text();
        chosenIngredient["unit"] = "";
        //console.log(chosenIngredient["id"], ":", chosenIngredient["name"]);
        $("#livesearch-unit").empty();
        //console.log("str: ", str);
        $.ajax({
            url: "https://api.nal.usda.gov/fdc/v1/food/" + chosenIngredient["id"],
            type: "get",
            data: "api_key=uHpZNeQkPBjLCcnybhVSTcdzjXt6wgNohqA7gRQu",
            success: function(response) {
                //var json = $.parseJSON(response);
                //var options=json["foods"][0];
                for(i = 0; i < response["foodPortions"].length; i ++){
                    $('#livesearch-unit').append($('<option>', {
                        value: response["foodPortions"][i]["measureUnit"]["name"],
                        text: response["foodPortions"][i]["measureUnit"]["name"]
                    }));
                    //$('#livesearch-ingredient').selectpicker('refresh');
                }
                $('#livesearch-unit').selectpicker('refresh');
                chosenIngredient["unit"] = $('#livesearch-unit :selected').text();
            },
            error: function(response) {
                $("#livesearch-unit").replaceWith("Error: "+response);
            },
        });
    });

    $('#div-unit').on('click', function () {
        chosenIngredient["unit"] = $('#livesearch-unit :selected').text();
        console.log(chosenIngredient["unit"]);
    });

    /*$('i').on('click', function () {
        console.log("remove id " + id);
    });*/

    //onclick="addAmount(this.value)

    function addAmount(val) {
        chosenIngredient["amount"] = val;
        console.log(chosenIngredient);
    }

    /*
    <li class="list-group-item align-items-center drag-handle">
        <!--<span class="drag-indicator"></span>-->
        <div> Item one </div>
        <div class="btn-group ml-auto">
            <button class="btn btn-sm btn-outline-light">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
    </li>
     */
    //<ul class="sortable-lists list-group list-group-flush list-group-bordered" id="ingredient-items">
    function addIngredient() {
        console.log(chosenIngredient);
        temp = $('#ingredients').val()
        $('#ingredients').val(temp.concat(chosenIngredient["name"],"(", chosenIngredient["id"], ")", ":" , chosenIngredient["unit"] , ":", chosenIngredient["amount"], ";"));
        ing_id = chosenIngredient["id"];
        ing_name = chosenIngredient["name"];
        unit = chosenIngredient["unit"];
        amount = chosenIngredient["amount"]
        $('#ingredient-items').append("<li id='" + ing_id + "' class='list-group-item align-items-center drag-handle'><span class='drag-indicator'></span><div>"+ ing_name + ": " + amount + " " + unit + "</div><div class='btn-group ml-auto'><button class='btn btn-sm btn-outline-light' onclick='removeIngredient(\"" + ing_name + "\", \"" + ing_id + "\", \"" + unit + "\", \"" + amount + "\")'><i class='far fa-trash-alt' id='`${ing_id}`'></i></button></div></li>");
        //$('#ingredient-items').append("<li id='" + ing_id + "' class='list-group-item align-items-center drag-handle'><span class='drag-indicator'></span><div>"+ ing_name + ": " + amount + " " + unit + "</div><div class='btn-group ml-auto'><button class='btn btn-sm btn-outline-light'><i class='far fa-trash-alt' id='`${ing_id}`'></i></button></div></li>");
    }

    function removeIngredient(name, id, unit, amount) {
        console.log("remove name" + name + "(" + id + ")" + ":" + unit + ":" + amount + ";");
        //temp =
        /*$('#ingredients').val(function(i, v) {
            v.replace(name + "(" + id + ")" + ":" + unit + ":" + amount + ";", "");
        }).val();*/
        temp = $('#ingredients').val();
        console.log("temp: ", temp);
        new_temp = temp.replace(name + "(" + id + ")" + ":" + unit + ":" + amount + ";", "");
        //temp.replace(/$name\(id\):unit:amount;/gi, "");
        console.log("new temp: ", new_temp);
        $('#ingredients').val(new_temp);
        //child = $('#' + chosenIngredient["id"]);
        //$('#ingredient-items').remove("<li id='" + chosenIngredient["id"] + "' class='list-group-item align-items-center drag-handle'></li>");
        //$('#ingredient-items').remove(child);
        //console.log("li: ", $('li #id'));
        $('li').remove('#' + id);
    }

    </script>

{% endblock %}
