{% extends 'base.html' %}
{% load static %}
{% load recipe_filter %}
{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <h2 class="pageheader-title">Recommendations</h2>
            <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Homepage</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10">
        <h3> Most Liked Recipes </h3>
    </div>
    {% for recipe in most_liked_recipes %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="product-thumbnail">
                <div class="product-img-head">
                    <div class="product-img">
                        <img src="{% static 'assets/images/eco-product-img-1.png' %}" alt="" class="img-fluid"></div>
                    <div class="ribbons">Recipe</div>
                </div>
                <div class="product-content">
                    <div class="product-content-head">
                        <a href="/recipe/detail/{{ recipe.id }}" class="product-title">{{ recipe.title }}</a>
                        <p>Creator: {{ recipe.created_by.username }}</p>
                        <div class="product-rating d-inline-block">
                            Difficulty:
                            {% for i in recipe.difficulty|times %}
                                <i class="fa fa-fw fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="product-price">Time: {{ recipe.prepared_in }} mins</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10">
        <h3> Most Viewed Recipes </h3>
    </div>
    {% for recipe in most_viewed_recipes %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="product-thumbnail">
                <div class="product-img-head">
                    <div class="product-img">
                        <img src="{% static 'assets/images/eco-product-img-1.png' %}" alt="" class="img-fluid"></div>
                    <div class="ribbons">Recipe</div>
                </div>
                <div class="product-content">
                    <div class="product-content-head">
                        <a href="/recipe/detail/{{ recipe.id }}" class="product-title">{{ recipe.title }}</a>
                        <p>Creator: {{ recipe.created_by.username }}</p>
                        <div class="product-rating d-inline-block">
                            Difficulty:
                            {% for i in recipe.difficulty|times %}
                                <i class="fa fa-fw fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="product-price">Time: {{ recipe.prepared_in }} mins</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10">
        <h3> Most Liked Menus </h3>
    </div>
    {% for menu in most_liked_menus %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="product-thumbnail">
                <div class="product-img-head">
                    <div class="product-img">
                        <img src="{% static 'assets/images/eco-product-img-1.png' %}" alt="" class="img-fluid"></div>
                    <div class="ribbons">Menu</div>
                </div>
                <div class="product-content">
                    <div class="product-content-head">
                        <a href="/menu/detail/{{ menu.id }}" class="product-title">{{ menu.title }}</a>
                        <p>Creator: {{ menu.created_by.username }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-10">
        <h3> Most Viewed Menus </h3>
    </div>
    {% for menu in most_viewed_menus %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="product-thumbnail">
                <div class="product-img-head">
                    <div class="product-img">
                        <img src="{% static 'assets/images/eco-product-img-1.png' %}" alt="" class="img-fluid"></div>
                    <div class="ribbons">Menu</div>
                </div>
                <div class="product-content">
                    <div class="product-content-head">
                        <a href="/menu/detail/{{ menu.id }}" class="product-title">{{ menu.title }}</a>
                        <p>Creator: {{ menu.created_by.username }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}