{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="influence-profile">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h3 class="mb-2">Profile </h3>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- content -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- profile -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                    <!-- ============================================================== -->
                    <!-- card profile -->
                    <!-- ============================================================== -->
                    <div class="card">
                        <div class="card-body">
                            <h3 class="font-16">Contact Information</h3>
                            <div class="">
                                <ul class="list-unstyled mb-0">
                                <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>{{ user.email }}</li>
                            </ul>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Date of Birth</h3>
                            <div class="">
                                <ul class="list-unstyled mb-0">
                                <li class="mb-2"><i class="fas fa-fw fa-birthday-cake mr-2"></i>{{ user.consumer_profile.date_of_birth }}</li>
                            </ul>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Recipes</h3>
                            <h1 class="mb-0">{{ user.get_recipe_count }}</h1>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Menus</h3>
                            <h1 class="mb-0">{{ user.get_menu_count }}</h1>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end card profile -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end profile -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- campaign data -->
                <!-- ============================================================== -->
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                    <!-- ============================================================== -->
                    <!-- campaign tab one -->
                    <!-- ============================================================== -->
                    <div class="influence-profile-content pills-regular">
                        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
                            <!--<li class="nav-item">
                                <a class="nav-link active" id="pills-packages-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="true">Settings</a>
                            </li>-->
                            <li class="nav-item">
                                <a class="nav-link" id="pills-diet-tab" data-toggle="pill" href="#pills-diet" role="tab" aria-controls="pills-diet" aria-selected="false">Diet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-statistics-tab" data-toggle="pill" href="#pills-statistics" role="tab" aria-controls="pills-statistics" aria-selected="false">Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-selected="false">My Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <!--<div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-packages-tab">
                                <div class="dashboard-short-list">
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 co-12">
                                            <section class="card card-fluid">
                                                <h5 class="card-header drag-handle"> Shortable List </h5>
                                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="items">
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item one </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item two </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div>Item three</div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item four </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item five </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="tab-pane fade" id="pills-diet" role="tabpanel" aria-labelledby="pills-diet-tab">
                                <div class="dashboard-short-list">
                                    <div class="row">
                                        <!-- ============================================================== -->
                                        <!-- shortable list  -->
                                        <!-- ============================================================== -->
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 co-12">
                                            <section class="card card-fluid">
                                                <h5 class="card-header drag-handle"> Shortable List </h5>
                                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="items">
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item one </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item two </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div>Item three</div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item four </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Item five </div>
                                                        <div class="btn-group ml-auto">
                                                            <button class="btn btn-sm btn-outline-light">Edit</button>
                                                            <button class="btn btn-sm btn-outline-light">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show active" id="pills-statistics" role="tabpanel" aria-labelledby="pills-statistics-tab">
                                <div class="dashboard-short-list">
                                    <div class="row">
                                        <!-- ============================================================== -->
                                        <!-- shortable list  -->
                                        <!-- ============================================================== -->
                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 co-12">
                                            <section class="card card-fluid">
                                                <h5 class="card-header drag-handle"> Members </h5>
                                                <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="items">
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Number of consumers: {{ consumer_count }} </div>
                                                    </li>
                                                    <li class="list-group-item align-items-center drag-handle">
                                                        <span class="drag-indicator"></span>
                                                        <div> Number of providers: {{ provider_count }} </div>
                                                    </li>
                                                </ul>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-review" role="tabpanel" aria-labelledby="pills-review-tab">
                                <div class="card">
                                    <h5 class="card-header">Comments</h5>
                                    {% for comment in comments %}
                                    <div class="card-body border-top">
                                        <div class="review-block">
                                            <a href="/recipe/detail/{{ comment.recipe_id }}" class="product-title">{{ comment.recipe.title }}</a>
                                            <p class="review-text font-italic m-0">{{ comment.content }}</p>
                                            <small class="text-mute"> {{ comment.created_at }}</small> by <span class="text-dark font-weight-bold">{{ user.username }}</span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <!--<div class="tab-pane fade" id="pills-msg" role="tabpanel" aria-labelledby="pills-msg-tab">
                                <div class="card">
                                    <h5 class="card-header">Send Messages</h5>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-3 col-md-12 col-sm-12 col-12 p-4">
                                                    <div class="form-group">
                                                        <label for="name">Your Name</label>
                                                        <input type="text" class="form-control form-control-lg" id="name" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Your Email</label>
                                                        <input type="email" class="form-control form-control-lg" id="email" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="subject">Subject</label>
                                                        <input type="text" class="form-control form-control-lg" id="subject" placeholder="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="messages">Messgaes</label>
                                                        <textarea class="form-control" id="messages" rows="3"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary float-right">Send Message</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end campaign tab one -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end campaign data -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
{% endblock %}