{% extends 'base.html' %}
{% load static %}
{% load recipe_filter %}
{% block content %}
{% csrf_token %}
    <!-- ============================================================== -->
    <!-- pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Recipe </h2>
                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Recipe</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader  -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0  m-b-30">
                    <div class="product-slider">
                        <div id="productslider-1" class="product-carousel carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block" src="{{ recipe.image_link }}" alt="First slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                             <span class="sr-only">Previous</span>
                                  </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                 <span class="sr-only">Next</span>
                                     </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 border-left m-b-30">
                    <div class="product-details">
                        <div class="border-bottom pb-3 mb-3">
                            <h2 class="mb-3">{{ recipe.title }}</h2>
                            <!--<div class="product-rating d-inline-block float-right">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                            </div>-->
                            {% comment %}
                            <h3 class="mb-0 text-primary">{{ recipe.nutritional_value|get_nutritional_value:item.Protein }} kcal</h3>
                            {%  endcomment %}
                        </div>
                        <div class="product-colors border-bottom">
                            <h4>Preparation Time</h4>
                            <div class="product-rating d-inline-block">
                                <i class="fas fa-clock">{{ recipe.prepared_in }} minutes</i>
                            </div>
                        </div>
                        <div class="product-size border-bottom">
                            <h4>Difficulty</h4>
                            <div class="btn-group" role="group" aria-label="First group">
                                <div class="product-rating d-inline-block">
                                    {% for i in recipe.difficulty|times %}
                                        <i class="fa fa-fw fa-star"></i>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="product-colors border-bottom">
                            <h4>Liked by</h4>
                            <div class="product-rating d-inline-block">
                                <i class="fas fa-people-carry">{{ recipe.get_like_count }} member(s)</i>
                            </div>
                        </div>
                        <div class="product-colors border-bottom">
                            <h4>Viewed</h4>
                            <div class="product-rating d-inline-block">
                                <i class="fas fa-people-carry">{{ recipe.get_view_number }} time(s)</i>
                            </div>
                        </div>
                        <!--<div class="product-size border-bottom">
                            <h3 class="font-16">Tags</h3>
                            <div>
                                <a href="#" class="badge badge-light mr-1">tag1</a><a href="#" class="badge badge-light mr-1">tag2</a><a href="#" class="badge badge-light mr-1">tag3</a>
                            </div>
                        </div>-->
                        <div class="product-description border-bottom">
                            <h4 class="mb-1">Creator</h4>
                            <p>{{ recipe.created_by.username }}</p>
                        </div>
                        <div class="product-btn">
                            <div class="product-rating d-inline-block">
                                {% csrf_token %}
                                <!--<a href="#" class="btn btn-primary"><i class="fas fa-edit"></i></a>-->
                                {% if user.is_consumer %}
                                    {% if user.consumer_profile in recipe.recipelike.cprofiles.all %}
                                        <a href="#" class="product-wishlist-btn" onclick="toggleRecipeLike({{ recipe.id }})"><i class="fas fa-paint-brush" id="recipe-like"></i></a>
                                    {% else %}
                                        <a href="#" class="product-wishlist-btn" onclick="toggleRecipeLike({{ recipe.id }})"><i class="fas fa-heart" id="recipe-like"></i></a>
                                    {% endif %}
                                {% elif user.is_provider %}
                                    {% if user.provider_profile in recipe.recipelike.cprofiles.all %}
                                        <a href="#" class="product-wishlist-btn" onclick="toggleRecipeLike({{ recipe.id }})"><i class="fas fa-paint-brush" id="recipe-like"></i></a>
                                    {% else %}
                                        <a href="#" class="product-wishlist-btn" onclick="toggleRecipeLike({{ recipe.id }})"><i class="fas fa-heart" id="recipe-like"></i></a>
                                    {% endif %}
                                {% else %}
                                    <!-- Other types of users? Such as Admmin... -->
                                {% endif %}
                                <form method="post" id="daily-intake-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-3 col-md-12 col-sm-12 col-12 p-4">
                                            <div class="form-group">
                                                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" name="intake_at" data-target="#datetimepicker4" />
                                                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<a href= class="btn btn-outline-light">Add to Daily Intake</a>-->
                                            <button type="submit" class="btn btn-primary float-right" onclick="addDailyIntake({{ recipe.id }})">Add to Daily Intake</button>
                                        </div>
                                    </div>
                                </form>
                                <!-- <a href="#" class="btn btn-danger"><i class="fas fa-ban"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-60">
                    <div class="simple-card">
                        <ul class="nav nav-tabs" id="myTab5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border-left-0" id="product-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="product-tab-1" aria-selected="true">Descriptions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-tab-nv" data-toggle="tab" href="#tab-nv" role="tab" aria-controls="product-tab-nv" aria-selected="false">Nutritional Value</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="product-tab-2" aria-selected="false">Comments</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent5">
                            <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="product-tab-1">
                                <div class="product-content-head">
                                    <div class="product-rating d-inline-block">
                                        <h3 class="product-title">Ingredients</h3>
                                        <p>name: quantity, unit</p>
                                    </div>
                                    <div class="product-price">
                                        <i class="fas fa-edit" onclick="editRecipe('ingredients')"></i>
                                    </div>
                                    <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="ingredient-items">
                                        {% for ingredient in recipe.ingredients|split_ingredients %}
                                            <li class="list-group-item align-items-center drag-handle">
                                                <span class="drag-indicator"></span>
                                                <div> {{ ingredient|first }}: {{ ingredient|third }}, {{ ingredient|fourth }}</div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="product-content-head">
                                    <div class="product-rating d-inline-block">
                                        <h3 class="product-title">Description</h3>
                                    </div>
                                    <div class="product-price">
                                        <i class="fas fa-edit" onclick="editRecipe('description')"></i>
                                    </div>
                                    <p>{{ recipe.description }}</p>
                                </div>
                                <div class="product-content-head">
                                    <div class="product-rating d-inline-block">
                                        <h3 class="product-title">Instructions</h3>
                                    </div>
                                    <div class="product-price">
                                        <i class="fas fa-edit" onclick="editRecipe('instructions')"></i>
                                    </div>
                                    <p>{{ recipe.instructions }}</p>
                                    {% comment %}
                                    <ul class="list-unstyled arrow">
                                        {% for instruction in recipe.instructions %}
                                            <li>{{ instruction }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endcomment %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-nv" role="tabpanel" aria-labelledby="product-tab-nv">
                                <div class="product-content-head">
                                    <div class="product-rating d-inline-block">
                                        <h3 class="product-title">NutritionalValue</h3>
                                    </div>
                                    <!-- Energy: kcal, Otw: g -->
                                    <ul class="sortable-lists list-group list-group-flush list-group-bordered" id="ingredient-items">
                                        <li class="list-group-item align-items-center drag-handle">
                                            <span class="drag-indicator"></span>
                                            <div> Energy: {{ recipe.nutritional_value|filter_nutritional_value:'Energy' }} kcal</div>
                                            <div> Protein: {{ recipe.nutritional_value|filter_nutritional_value:'Protein' }} g</div>
                                            <div> Carbohydrates: {{ recipe.nutritional_value|filter_nutritional_value:'Carbohydrates' }} g</div>
                                            <div> Total lipid (fat): {{ recipe.nutritional_value|filter_nutritional_value:'Total lipid (fat)' }} g</div>
                                            <div> Minerals: {{ recipe.nutritional_value|filter_nutritional_value:'Minerals' }} g</div>
                                            <div> Vitamins and Other Components: {{ recipe.nutritional_value|filter_nutritional_value:'Vitamins and Other Components' }} g</div>
                                            <div> Water: {{ recipe.nutritional_value|filter_nutritional_value:'Water' }} g</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="product-tab-2">
                                <div class="card">
                                    <h5 class="card-header">Comment</h5>
                                    <div class="card-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-3 col-md-12 col-sm-12 col-12 p-4">
                                                    <div class="form-group">
                                                        <!--<label for="messages">Comment</label>-->
                                                        <textarea class="form-control" name="content" id="content" rows="3"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% for comment in recipe.comment.all %}
                                    {% if comment.is_deleted == False %}
                                        <div class="card">
                                            <h6 class="card-header"><span class="text-dark font-weight-bold">{{ comment.created_by }}</span><small class="text-mute"> {{ comment.created_at }} </small></h6>
                                            <div class="card-body">
                                                <div class="review-block">
                                                    <p class="review-text font-italic m-0" id="comment{{ comment.id }}">{{ comment.content }}</p>
                                                    <!--<div class="product-btn">
                                                        If the user is the author of the comment.
                                                        <a href="#" class="btn btn-outline-light">Edit</a>
                                                        <a href="#" class="btn btn-primary">Report</a>
                                                    </div>-->
                                                </div>
                                                <div class="product-wishlist-btn">
                                                    <i class="fas fa-edit" onclick="editComment('{{ comment.id }}', '{{ comment.content }}')"></i>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
        <script src="{% static 'assets/vendor/datepicker/moment.js' %}"></script>
        <script src="{% static 'assets/vendor/datepicker/tempusdominus-bootstrap-4.js' %}"></script>
        <script src="{% static 'assets/vendor/datepicker/datepicker.js' %}"></script>

        <!-- Optional JavaScript -->
        <!-- jquery 3.3.1 -->
        <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
        <!-- bootstap bundle js -->
        <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <!-- slimscroll js -->
        <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
        <!-- main js -->
        <script src="{% static 'assets/libs/js/main-js.js' %}"></script>

        <script>

        function addDailyIntake (recipe_id){
            $.ajax({
                url:'/api/update/daily/' + recipe_id + '/recipe/',
                type:'post',
                data:$('#daily-intake-form').serialize(),
                success:function(){
                    alert("worked");
                }
            });
        }

        function editComment(comment_id, content) {
            console.log("edit comment");
            if (comment_id>=0) {
                $("#comment"+comment_id).replaceWith('<textarea class="review-text font-italic m-0" id="comment' + comment_id + ' name="comment">' + content + '</textarea>');
            }
        }

        function toggleRecipeLike(recipe_id) {
            console.log("toggle recipe like");
            if (recipe_id>=0) {
                $.ajax({
                    url: "http://localhost:8000/api/like/recipe/" + recipe_id + "/toggle/",
                    type: "get",
                    data:"",
                    //headers:{'api-csrftoken':'{{ csrf_token }}'},
                    //{
                    //  csrfmiddlewaretoken: '{{ csrf_token }}'
                    //},
                    success: function(response) {
                        $("#recipe-like").toggleClass("fas fa-heart").toggleClass("fas fa-paint-brush");
                    },
                    error: function(response) {
                        console.log("error");
                    },
                });
            }
        }

        function editRecipe() {
            console.log("edit recipe")
        }

        jQuery('<div class="quantity-nav"><div class="quantity-button quantity-up">+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
        jQuery('.quantity').each(function() {
            var spinner = jQuery(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

            btnUp.click(function() {
                var oldValue = parseFloat(input.val());
                if (oldValue >= max) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue + 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

            btnDown.click(function() {
                var oldValue = parseFloat(input.val());
                if (oldValue <= min) {
                    var newVal = oldValue;
                } else {
                    var newVal = oldValue - 1;
                }
                spinner.find("input").val(newVal);
                spinner.find("input").trigger("change");
            });

        });
        </script>
{% endblock %}
